#div1{
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 3px solid green;
    border-radius: 15px;
}
#div2{
    text-align:center;
    height: 100px;
    width: 100px;
    background-color:blue;
    border: 3px dotted white;
    border-radius: 50%;
    
}
#div3{
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: green;
    border: 3px dashed powderblue;
    border-radius: 25px;
    
}
