div{

    text-align: right;
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-width: 2px;
    border-style: solid;
    border-color:green 

}
h1{

    text-align: center;
    height: 100px;
    width: 300px;
    background-color: blueviolet;
    border-width: 5px;
    border-style:dashed;
    border-color: black;

}
p{

    background-color: pink;
    border: 3px solid yellow;

}
button{

    background-color: grey;
    border: 2px dotted black;

}
