div{

    height: 150px;
    width: 150px;
    background-color: aqua;
    border: 2px,solid,black;
    position:relative;
    top: 200px;
    left: 100px;
    display: inline-block;
    
}

div:hover{
    background-color: red;
    color: white;
   
}

#box2:active{
        background-color: green;
        transform: skew(50deg);
} 

#box3:hover{
    transition-property: all;
    transition-duration: 2s;
    background-color: green;
    font-size: large;
    font-style: italic;
    transform: skew(30deg);
  
}

#box4:hover{
    transition-property: all;
    transition-duration: 2s;
    background-color: blue;
    font-size: large;
    font-style: italic;
    transition-timing-function: steps(5);
    transition-timing-function: ease-in;   
    transform: skew(-45deg);

}

#box5:hover{
    transition-property: all;
    transition-duration: 2s;
    background-color:brown;
    font-size: large;
    font-style:oblique;
    transition-delay: 2s;

    transition: all 3s ease-in-out 2s;                  /* ----> Transition shorthand */
    transform: skew(120deg);
}