h1{
    text-align: center;
}
#para1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#para2{
    font-family: arial;
}
#para3{
    font-family: Verdana;
}
#para4{
    font-family: none;
}