div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px,solid,black;
    display: inline-block;
}
#box1{
    background-color: red;
    position: static;
}
#box2{
    background-color: green;
    position:relative;
    top: 100px;
    left: 20px;
    
}
#box3{
    background-color: yellow;
    position: absolute;
    top: 280px;
    left: 260px;

}
#box4{
    position: fixed;
    right: 920px;
    bottom: 140px;
}
#box5{
    position: sticky;
    top: 0px;
    
}